body {
    background-color: rgb(63, 0, 253);
  }
  
  h1 {
    color: rgb(21, 255, 0);
    background-color: rgb(237, 83, 0);
    border: 2px solid rgb(10, 255, 18);
  }
   /*classes*/
 
  .center {
    text-align: center;
  }
.fonte-verde  {
  color:rgb(9, 254, 99)
}
/*id*/
  #para {
    color: rgb(255, 0, 225);
    font-family: verdana;
    font-size: 20px;
   }
  
   p {
    color: rgba(0, 255, 38, 0.658);
    font-family: verdana;
    font-size: 20px;
   }